html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: whitesmoke;
}

* {
  margin: 0px;
  padding: 0px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit
}

h2 {
  text-align: center;
}

.logo {
  width: 5rem;
}

/*mobile first*/

header {
  display: flex;
  background-color:rgb(18, 138, 114);
  height: 6rem;
  align-items: center;
  font-weight: 600;
}

.section-banner {
  display: flex;
  flex-direction: column;
  background-color: #2c3e50;
}

.profile-img {
  grid-area: img;
  width: 150px;
  margin: 10px;
  justify-self: self-start;
  border: 2px whitesmoke solid;
  border-radius: 100px;
}

.name {
  grid-area: name;
  justify-self: self-start;
}

.work {
  grid-area: work;
}

.section-info {
  background-color: #2c3e50;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.skills-item {
  padding: 1rem 1rem;
}

.skills-item img {
  height: 50px;
  width: auto;
}

.section-portfolio {
  background-color: #2c3e50;
  text-align: center;
}

.section-contact {
  background-color: #2c3e50;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 20px;
  border-radius: 5px;
}

[type=text], [type=email] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

::placeholder {
  color: black;
}

a:hover, a:active {
  color: black;
}

.social-conatainer a:hover {
  filter: invert(10)
}

.submit-btn {
  display: block;
  margin: 10px auto;
  ;
  padding: 5px 15px;
  background-color: inherit;
  color: whitesmoke;
  border-radius: 5px;
  border: white 3px inset;
}

.submit-btn:hover {
  border: outset white 3px;
}

.header-navigation {
  display: none;
}

.hamburger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -1.3rem;
  right: 2rem;
  width: 4.2rem;
  height: 4.2rem;
  cursor: pointer;
  border-radius: 100px;
  border:3px white solid;
  z-index: 100;
}

.hamburger-lines,
.hamburger-lines::before, 
.hamburger-lines::after {
  display: block;
  position: absolute;
  width: 2.2rem;
  height: 0.2rem;
  border-radius: 50px;
  
  background-color: whitesmoke;
}

.hamburger-lines::after{
  content:"";
  top:1rem;
  width: 2.2rem;
  height: 0.2rem;
  border-radius: 50px;
 

}
.hamburger-lines::before{
  content:"";
  top:-1rem;
  width: 2.2rem;
  height: 0.2rem;
  border-radius: 50px;

}

.menu_box{
  display: block;
  visibility: hidden;
  
  text-align: right;
  background-color:rgba(18, 138, 114, 0.849);
  position: fixed;
  width: 100%;
  height: 25rem;
  padding: 8rem 2rem;
  
  top:0;
  right:0;
  z-index: 0;
  list-style: none;
 
 
  
  
}

.hamburger-menu-item{
  padding: 1rem 0.5rem;
  
  
}
#menu_toggle{
  visibility: hidden;
}

#menu_toggle:checked ~ .menu_box{
  visibility: visible;
}



footer {
  background-color: rgb(18, 138, 114);
  display: flex;
  flex-direction: column;
}

.social-logo__link {
  width: 40px;
  height: 40px;
  margin: 10px 10px;
}



header::after {
  content: none;
  position: absolute;
  top: 1rem;
  right: 0;
  margin-right: 3rem;
}

.menu-list {
  list-style: none;
}


.container {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.about-container {
  margin: 3rem 2rem;
  text-align: left;
  font-style: italic;
  grid-area: about;
}
.portfolio-item {
  background-image: url("../img/cover.jpg");
  margin: 10px auto;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 8px 1px black;
  width: 20rem;
  height: 15rem;
}

.hotel {
  background-image: url("../img/hotel.jpg");
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 15rem;
}
.konzolok {
  background-image: url("../img/konzol.jpg");
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 15rem;
}
.weather {
  background-image: url("../img/weather.png");
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 15rem;
}


.portfolio-list a {
  position: absolute;
  display: block;
 
  width: 20rem;
  height: 15rem;
  cursor: pointer;
  font-size: 2rem;
  
}

/*media query*/

@media screen and (min-width: 576px) {
  header {
    display: flex;
  }
  header::after {
    content: none;
  }
  .header-navigation {
    display: inline-block;
    flex-grow: 3;
  }
  .nav_hamburger_menu{
    display: none;
  }
  .menu-list {
    display: flex;
    justify-content: flex-end;
  }
  .menu-item {
    margin: 1rem;
  }
  .header-logo {
    flex-grow: 2;
  }
  .section-banner {
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    grid-template-areas: 'img ...' 'img name ' 'img work' 'img ...' 'about about';
    background-color: #2c3e50;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 992px) {
  .section-banner {
    grid-area: banner;
  }
  .section-info {
    grid-area: info;
  }
  .section-portfolio {
    grid-area: portfolio;
  }
  .section-contact {
    grid-area: contact;
  }
  main {
    display: grid;
    grid-template-areas: "banner info" "portfolio portfolio" "contact contact";
  }
  .portfolio-list {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .portfolio-item {
    background-position: center 20%;
  }

  .portfolio-item {
    background-image: url("../img/cover.jpg");
    margin: 10px auto;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 8px 1px black;
    width: 30rem;
    height: 20rem;
  }
  
  .hotel {
    background-image: url("../img/hotel.jpg");
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rem;
    height: 20rem;
  }
  .konzolok {
    background-image: url("../img/konzol.jpg");
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rem;
    height: 20rem;
  }
  .weather {
    background-image: url("../img/weather.png");
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rem;
    height: 20rem;
  }
  
  
  .portfolio-list a {
    position: absolute;
    display: block;
   
    width: 30rem;
    height: 20rem;
    cursor: pointer;
    font-size: 2rem;
    
  }







}